<div class="panel panel-default">

<div class="panel-heading" >

  <h1><strong><%= @artist.artistName %></strong></h1>
</div>
<div class="panel-body">
<p>
  <strong>País: </strong>
  <%= @artist.country %>
</p>
 
<p>
  <strong>Gravadora: </strong>
  <%= @artist.label %>
</p>

<p>
  <strong>Principal Gênero: </strong>
  <%= @artist.genre %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Delete', artist_path(@artist), method: :delete, data: {confirm: "Você tem certeza?"} %> |
<%= link_to 'Back', controller: 'artists' %>
</div>
</div>